<h1>Tournaments</h1>

<form method="get" action="/">
  <label>
    Date
    <input
      id="date"
      name="date"
      type="date"
      />
  </label>

  <button>Search by Date</button>
</form>

<ul>
  <% @tournaments.each do |tournament| %>
    <li>
      <%= link_to tournament.tournament_name, tournament %>
      <span><%= tournament.date %></span>
    </li>
  <% end %>
</ul>

<%= link_to "New Tournament", new_tournament_path %>
